body {
    background-image: url(fon.jpg);
    background-size: 200%;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;
}

.forma{
    background-color: rgba(22, 31, 167, 0.822);
    padding: 30px;
    max-width: 500px;
    margin: 200px auto;
    color: aliceblue;
}

form{
    display: flex;
    flex-direction: column;
}

input[type=text], input[type=submit], input[type=tel], input[type=datetime-local], select{
    border-radius: 10px;
    margin: 10px;
    height: 25px;
}

.footer {
    background-color: rgb(159, 60, 168);
    padding: 10px;
    text-align: center;
    margin-top: 80px;
    color: aliceblue;
}